/* body.active-modal {
    overflow-y: hidden;
  } */
  
  .tandc {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .btn-modal {
    height: 40px;
    width: 250px;
    font-size: 1.2rem;
    margin-top: 40px;
    background-color: #85cdfd;
    border: 2px solid black;
    font-weight: bolder;
  }
  
  /* .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  } */
  
  .overlay {
    background: rgba(49, 49, 49, 0.8);
  }
  
  .modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    color:#fff;
    transform: translate(-50%, -50%);
    line-height: 2.5;
    background: #141619;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    max-height: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
  }
  
  .tc {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 15%;
    text-align: left;
  }
  
  /* .thodasahi {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
  } */
  
  /* Updated styles for scroll locking */
  /* .modal-open {
    overflow: hidden;
  } */
  