@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@layer utilities {
  .gradient-purple-blue {
    background: linear-gradient(135deg, #8C3AFF, #007BFF);
  }

  .gradient-pink-purple {
    background: linear-gradient(135deg, #FF64FF, #8C3AFF);
  }

  .gradient-blue-green {
    background: linear-gradient(135deg, #007BFF, #00FFA3);
  }

  .text-gradient-purple-blue {
    background: linear-gradient(135deg, #8C3AFF, #007BFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-pink-purple {
    background: linear-gradient(135deg, #FF64FF, #8C3AFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient-blue-green {
    background: linear-gradient(135deg, #007BFF, #00FFA3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.App {
  text-align: center;
  background: linear-gradient(135deg,#141619,#092959);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  /* Add gradient */
  @apply gradient-purple-blue;
}

.loadingwalacheez {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add gradient */
  @apply gradient-blue-green;
}
.App {
  font-family: 'Kanit', sans-serif;
}